.card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

  img {
    display: block;
    width: 100%;
  }

  .info {
    margin: 10px 20px;
  }

  h1 {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }

  .button {
    margin-top: 20px;
    width: 100%;
  }
}