.header {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 73px;
  background: url('/images/header.png') top center repeat-x #2a3e52;

  .title {
    font-family: "Exo 2";
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
  }

  .logo {
    margin-left: 10px;
    margin-top: 3px;
    width: 50px;
    height: 50px;
    background-image: url('/images/logo.png');
    background-size: 50px;
  }

  .text {
    margin-left: 14px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
  }

  .grow {
    flex-grow: 1;
  }

  .header-button {
    margin-left: 20px;
  }

  .button-icon {
    margin-top: 3px;
    background: none;
    box-shadow: none;

    &:active {
      box-shadow: none;
    }
  }

  @media (min-width: 990px) {
    .button-icon {
      display: none;
    }
  }

  @media (max-width: 990px) {
    .logo,
    .text {
      display: none;
    }
    .auth-buttons {
      display: none;
    }
  }
}